<!DOCTYPE html>
<html ng-app="angular-app">
<head>
  <title>AWJ</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Products</a></li>
            <li><a href="#">Persons</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
      
    <div ng-controller="HomeController">
      <h1>{{ title }}</h1>
      <h3>{{ subtitle }}</h3>
    </div>
  </div>
  <hr/>

  <!-- /resources1 -->
  <div class="container" ng-controller="ProductsController">
    <h1>Products</h1>
    <h2>All products</h2>
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-attr-id="{{ 'product' + product.id }}" ng-repeat="product in products">
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary" ng-click="getUpdateValues(product)">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger" ng-click="removeProduct(product.id)">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit Product</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="id">Id</label>
            <input ng-model="updateId" type="text" class="form-control" id="attribute1" placeholder="Id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input ng-model="updateName" type="text" class="form-control" id="attribute2" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="attribute3">Category</label>
            <input ng-model="updateCategory" type="text" class="form-control" id="attribute3" placeholder="Category">
          </div>
          <div class="form-group">
            <label for="attribute4">Stock</label>
            <input ng-model="updateStock" type="text" class="form-control" id="attribute4" placeholder="Stock">
          </div>
          <div class="form-group">
            <label for="attribute4">Price</label>
            <input ng-model="updatePrice" type="text" class="form-control" id="attribute4" placeholder="Price">
          </div>
          <button ng-click="updateProduct()" type="submit" class="btn btn-success">Add</button>
        </form>
      </div>

      <div class="col-md-3 col-md-offset-5">
        <h2>Add Product</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="id">Id</label>
            <input ng-model="id" type="text" class="form-control" id="attribute1" placeholder="Id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input ng-model="name" type="text" class="form-control" id="attribute2" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="attribute3">Category</label>
            <input ng-model="category" type="text" class="form-control" id="attribute3" placeholder="Category">
          </div>
          <div class="form-group">
            <label for="attribute4">Stock</label>
            <input ng-model="stock" type="text" class="form-control" id="attribute4" placeholder="Stock">
          </div>
          <div class="form-group">
            <label for="attribute4">Price</label>
            <input ng-model="price" type="text" class="form-control" id="attribute4" placeholder="Price">
          </div>
          <button ng-click="addProduct()" type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show a resource1</h2>
      </div>
      <div class="col-md-2">
        <img src="http://lorempixel.com/200/200/technics/?id=1" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>Attribute 1</h1>
        <p>Attribute 2, Attribute 3</p>
        <h3>Sub resource</h3>
        <table class="table table-bordered table-striped">
          <tr>
            <th>Attribute 5</th>
            <th>Attribute 6</th>
          </tr>
          <tr>
            <td>Lorem ipsum</td>
            <td>Lorem</td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor</td>
            <td>Sir</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr/>

  <!-- /resources2-->
  <div class="container">
    <h1>Resource 2</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
      <tr>
        <th>Attribute 1</th>
        <th>Attribute 2</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr>
        <td>Lorem</td>
        <td>Sit</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Ipsum</td>
        <td>Lorem</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Sit</td>
        <td>Dolor</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Lorem</td>
        <td>Ipsum</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit a resource2</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Attribute 1</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Attribute 1">
          </div>
          <div class="form-group">
            <label for="attribute2">Attribute 2</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Attribute 2">
          </div>
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add a resource2</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Attribute 1</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Attribute 1">
          </div>
          <div class="form-group">
            <label for="attribute2">Attribute 2</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Attribute 2">
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show a resource2</h2>
      </div>
      <div class="col-md-2">
        <img src="http://lorempixel.com/200/200/technics/?id=2" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>Attribute 1</h1>
        <p>Attribute 2, Attribute 3</p>
        <h3>Sub resource</h3>
        <table class="table table-bordered table-striped">
          <tr>
            <th>Attribute 5</th>
            <th>Attribute 6</th>
          </tr>
          <tr>
            <td>Lorem ipsum</td>
            <td>Lorem</td>
          </tr>
          <tr>
            <td>Lorem ipsum dolor</td>
            <td>Sir</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr/>

  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Sirbu Nicolae-Cezar, 331AA</p>
    </footer>
  </div>


  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>